html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI Semibold', sans-serif;
}



.overlay {
    position: absolute;
    top: 72px;
    width: 100%;
    height: calc(100% - 72px);
    background-color: #000;
    opacity: 0.4;
    z-index: 9;
    transition: 1s;
}

.visible {
    opacity: 1;
    visibility: visible;
    transition: 1s;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}